@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #292929;
  font-size: 1rem;
  color: #d3a3ff;
}

.cabecalho {
  font-weight: 800;
  color: rgb(224, 191, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.cabecalho img {
  width: 40px;
  margin-right: 10px;
}

.container-pai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 2rem;
  width: 300px;
  height: 300px;
}

input {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 5px;
  border-radius: 5px;
  width: 170px;
  margin-top: 10px;
}

.btn {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #dfcaf3;
  border-radius: 10px;
  width: 100px;
  padding: 5px;
}

.btn:hover {
  background-color: #ab66ec;
  border-color: white;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.input-text {
  background-color: #8a2be2;
  border: none;
  color: aliceblue;
  width: 200px;
}

.input-text::placeholder {
  color: aliceblue;
}

.container-button {
  margin-top: 12px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  font-size: 1rem;
}

.container-footer {
  font-size: 0.8rem;
  margin-top: 15px;
  text-align: center;
}

.container-footer a {
  color: aliceblue;
}

textarea {
  width: 200px;
  height: 75px;
  display: flex;
  text-align: justify;
  justify-content: center;
  text-wrap: wrap;
  margin-top: 8px;
  padding: 5px;
  resize: none;
}
