@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(41, 41, 41);
  font-size: 15px;
  color: rgb(211, 163, 255);
}

.cabecalho {
  font-weight: 800;
  color: rgb(224, 191, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabecalho img {
  width: 40px;
}

.container-pai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  padding: 2rem;
  width: 250px;
  height: 250px;
}

input {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 5px;
  border-radius: 5px;
  width: 170px;
  margin-top: 10px;
}

.btn {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(223, 202, 243);
  border-radius: 10px;
  width: 100px;
  padding: 5px;
}

.btn:hover {
  background-color: rgb(171, 102, 236);
  border-color: white;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.input-text {
  background-color: blueviolet;
  border: none;
  color: aliceblue;
}

.input-text::placeholder {
  color: aliceblue;
}

.container-button {
  margin-top: 12px;
  width: 160px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
